code {
  font-family: monospace;
  background-color: #f3f3f3;
  background-color: rgba(0,0,0,0.07);
  padding-left: 6px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 3px;
  font-size: 1.1em;
  border-radius: 5px;
  /*
  white-space: nowrap;
  */
}
code.big {
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 4px;
}
