#header {
  text-align: center;
}

#header > * {
  display: inline-block;
  vertical-align: middle;
}

#header > h1 {
  font-family: Mitr;
  font-size: 4em;
  margin-top: 0.35em;
  margin-bottom: 0.4em;
}
